<footer class="bg-black py-6 text-center w-full">
  <a href="/">
    <img 
      src="/assets/branding/Logos/TheSpace_Logos_Full_5.webp" 
      alt="The Space Logo" 
      loading="lazy" 
      class="mx-auto mb-0" 
      style="width: 100px; height: auto;"
      width="100"
      height="100"
    />
  </a>
  <p class="text-center text-sm text-white mb-4">
    <a 
      href="https://mempool.denver.space/tx/0650359ea926ea167ab9e25b703ee723bf6bc2732ca33d873d00e17da55302ab" 
      target="_blank" 
      rel="noopener noreferrer" 
      class="text-white hover:text-gray-300 font-semibold"
    >
      Est. 836738
    </a>
  </p>
  <p class="text-center text-sm text-white pb-6 mt-4">
    Copyright © {new Date().getFullYear()} The Space Education Foundation. All rights reserved.
  </p>
</footer>